.card{
    border: none;
    width:500px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(50%,-50%);
    background: rgb(186, 236, 139);
    background: linear-gradient(90deg, rgb(226, 142, 219)0%, hsla(260,29%,36,1)100%);

}
.card h6{
color: #4b0df5;
}
.lable{
    color: rgba(255, 255, 255, 0.514);
}